.borders{
  display: grid;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(175, 244, 245);

}
.container-fluid{
  max-width: 400px;
  max-height: fit-content;

}
.navbar{
  border-radius: 10px;
  ;
}
body{
  background-color:rgb(37, 37, 37);
}
