
#message{
    text-align: left;
    
}
.form-group{
    max-width: 300px;
    box-sizing: border-box;
    border: lightskyblue;
    border-width: 3px;
    overflow-wrap: break-word; 
    margin-left: 10px
;
}
label{
    font-weight: bolder;
}
.btn{
    background-color: rgb(71, 11, 139);
    color: ivory;
    margin-left: 37%;

}
